// variables personalizadas
$primary:#5265E1;
$secundary:#FA5959;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.text-cabecera-form{
  color:white;
}

.text-pie-separado{
  color: white;
  font-family: monospace;
  padding-top:30px;

}

.bg-formulario{
  background-color: #5265E1;
}

form{
  padding-bottom:30px;
}

.alturaNavbar{
  background-color: black;
}

.btn-ColorPrincipal{
  background-color: #5265E1;
}
.btn-ColorSecundari{
  background-color:#FA5959;
}

.nav-enlace-footer{
  color: white;
  text-decoration: none;
}
.nav-enlace-footer:hover {
  color: #FA5959;
  text-decoration:none;
}
.nav-enlace-footer:active{
  color: white;
  text-decoration:none;
}
.fondobotones{
  background-color: aqua;
}

.boRojo {
  background-color:#5265E1;
}
/** estilos tab **/
#nav-home-tab{
  border-bottom:0px solid #CC1414;
}
:active #nav-home-tab{
  border-bottom:0px solid #CC1414;
}
.accordion-button:hover{
  color: #FA5959;
  text-decoration:none;
}

.accordion-button:active{
  color: #FA5959;
  text-decoration:none;
}

.btn-danger:hover{
  background-color:rgb(255, 255, 255) !important;
  border:1px solid #FA5959 !important;
  color: #FA5959;

}
.btn-primary:hover{
  background-color:rgb(255, 255, 255) !important;
  border:1px solid #5265E1 !important;
  color: #5265E1;
  
}


.btn-light{
  border:0px solid rgb(226, 221, 221) !important;
  color: black;
  background-color: rgb(233, 231, 231) !important;

}

.btn-light:hover{
  background-color:rgb(255, 255, 255) !important;
  border:1px solid gray !important;
  color: gray;
}


.nav-link:hover{
  color:#FA5959;
  border-top: 0px solid rgb(255, 255, 255) !important;
  border-left: 0px solid rgb(255, 255, 255) !important;
  border-right: 0px solid rgb(255, 255, 255) !important;
    
}
.nav-link{
  color:black;
}

.nav-link.active {
  border-bottom: 4px solid #fa5959 !important;
  color: black !important;
  /*padding-bottom: 12px !important;*/
  border-top: 0px solid rgb(255, 255, 255) !important;
  border-left: 0px solid rgb(255, 255, 255) !important;
  border-right: 0px solid rgb(255, 255, 255) !important;    
}

.accordion-header:active {
  border: 0px solid #fa5959 !important;
  background-color: white !important;
}



#myTab {
  flex-direction: row !important;
  border-bottom: 0px;

  & .nav-item {
      border-top: 0 !important;
      border-top: 0px solid rgb(255, 255, 255) !important; 
      border-bottom: 1px solid rgb(193, 193, 193) !important; 


      & .nav-link:hover {
      color: #fa5959 !important;
      }


  }
  }

/* logo e icono cambio color */  

.logo_bookmark{
  color:white!important;
}  
.icono_facebook:hover{
  color:#FA5959 !important;
}
.icono_twitter:hover{
  color:#FA5959 !important;
}

/* fondo capa e ilustraciones */

#fondo_redondeado_azul_1{
    border:0px solid  #e15260;
    border-radius:0% 0% 0% 40%;
    background-color:#5265E1;
    position:absolute;
    z-index: 0;
    top:140px;
    height:auto;
    width: auto;
}


#ilustra_1{
 position:relative;
 z-index: 1;

}

#ilustra_2{
  position:relative;
  z-index: 1; 

}

#ilustra_3{
  position:relative;
  z-index: 1;
}

#ilustra_4{
  position:relative;
  z-index: 1; 
}

#fondo_redondeado_azul_2{
  
 /* vertical-align: bottom;
  border-radius:0% 0% 40% 0%;
  background-color: #5265E1;
  position:absolute;
  /*width:25%;
  height:40%;*/
  /*z-index: 0;
top:400px;
  height:auto;
  width: auto;*/

  /*margin-right: 40%;
  margin-top: 10%;*/

  border:0px solid  #e15260;
  border-radius:0% 0% 40% 0%;
  background-color:#5265E1;
  position:absolute;
  z-index: 0;
  top:300px;
  height:auto;
  width: auto;

  
}


